{% extends "@TriburchBackendJuegos/layout.html.twig" %}

{% block title %}Lista Categorias{% endblock %}

{% block content %}


    <h1>{% trans %}__title.list.Category{% endtrans %}</h1>

        <table border="1" style="overflow: auto">
            <thead class="tbl-header">
            <tr>
                <th>ID</th>
                <th>{% trans %}__name.list.Category{% endtrans %}</th>
                <th>{% trans %}__work.list.Category{% endtrans %}</th>
                <th>{% trans %}__childs.list.Category{% endtrans %}</th>
                <th>{% trans %}__actions.list.Category{% endtrans %}</th>

            </tr>
            </thead>
            <tbody class="tbl-content">
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nom }}</td>
                    <td>{{ categoria.treballa }}</td>
                    <td><a href="{{ path('categoria_list_children',{'id': categoria.id})}}">{% trans %}__show_childs.list{% endtrans %}</a>
                    <td><a href={{ path('categoria_edit',{'id': categoria.id})}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/edit.png') }}"width="30" height="30"></a>
                        <form action="{{ path('categoria_erase',{'id': categoria.id})}}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="image" src="{{ asset('bundles/TriburchBakendJuegosBundle/images/delete.png') }}" width="30" height="30" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>

            <tr>
                <td colspan="5"><a href="{{ path('categoria_new')}}"><a href="{{ path('categoria_new')}}"><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/add.png') }}" width="30" height="30"></a></a></td>
            </tr>

            </tfoot>

        </table>

{% endblock %}