{% extends "@TriburchBackendJuegos/layout.html.twig" %}

{% block title %}Lista Jocs{% endblock %}

{% block body %}
    <h1>Listado de Jocs</h1>
    <table border="1" class="greenTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Imatge</th>
            <th>Categoria</th>
            <th>Hijos(Partidas)</th>

        </tr>
        </thead>
        <tbody>
        {% for joc in jocs %}
            <tr>
                <td>{{ joc.id }}</td>
                <td>{{ joc.nom }}</td>
                <td>{{ joc.imatge }}</td>
                <td>{{ joc.categoria }}</td>
                <td><a href="{{ path('joc_list_children',{'id': joc.id})}}" class="links">Ver Hijos</a>
                <td><a href={{ path('joc_edit',{'id': joc.id})}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/edit.png') }}" width="30" height="30"></a>
                    <form action="{{ path('joc_erase',{'id': joc.id})}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="image" src="{{ asset('bundles/TriburchBakendJuegosBundle/images/delete.png') }}" width="30" height="30" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>

            <td><a href="{{ path('joc_new')}}" class="links">Nuevo Joc</a><br/><a href={{ path('categoria_list')}}>Volver ha categorias</a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}