{% extends "@TriburchBackendJuegos/layout.html.twig" %}

{% block title %}{% trans %}__title.list.Games{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}__title.list.Games{% endtrans %}</h1>
    <table border="1" style="overflow: auto">
        <thead class="tbl-header">
        <tr>
            <th>ID</th>
            <th>{% trans %}__name.list.Games{% endtrans %}</th>
            <th>{% trans %}__image.list.Games{% endtrans %}</th>
            <th>{% trans %}__category.list.Games{% endtrans %}</th>
            <th>{% trans %}__childs.list.Games{% endtrans %}</th>
            <th>{% trans %}__actions.list.Games{% endtrans %}</th>

        </tr>
        </thead>
        <tbody class="tbl-content">
        {% for joc in jocs %}
            <tr>
                <td>{{ joc.id }}</td>
                <td>{{ joc.nom }}</td>
                <td>{{ joc.imatge }}</td>
                <td>{{ joc.categoria }}</td>
                <td><a href="{{ path('joc_list_children',{'id': joc.id})}}">{% trans %}__show_childs.list{% endtrans %}</a>
                <td><a href={{ path('joc_edit',{'id': joc.id})}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/edit.png') }}" width="30" height="30"></a>
                    <form action="{{ path('joc_erase',{'id': joc.id})}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="image" src="{{ asset('bundles/TriburchBakendJuegosBundle/images/delete.png') }}" width="30" height="30" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>

            <td colspan="5"><a href={{ path('categoria_list')}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/return.png') }}" width="50" height="50"></a></td>
            <td><a href="{{ path('joc_new')}}"><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/add.png') }}" width="30" height="30"></a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}