{% extends "@TriburchBackendJuegos/layout.html.twig" %}

{% block title %}Lista Jugadores{% endblock %}

{% block body %}
    <h1>{% trans %}__title.list.Players{% endtrans %}</h1>
    <table border="1"  style="overflow: auto">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans %}__name.list.Players{% endtrans %}</th>
            <th>{% trans %}__lastname1.list.Players{% endtrans %}</th>
            <th>{% trans %}__lastname2.list.Players{% endtrans %}</th>
            <th>{% trans %}__birth_date.list.Players{% endtrans %}</th>
            <th>{% trans %}__diagnostic.list.Players{% endtrans %}</th>
            <th>{% trans %}__nick.list.Players{% endtrans %}</th>
            <th>{% trans %}__idioma.list.Players{% endtrans %}</th>
            <th>{% trans %}__active.list.Players{% endtrans %}</th>
            <th>{% trans %}__Partida.list.Players{% endtrans %}</th>
            <th>{% trans %}__actions.list.Players{% endtrans %}</th>

        </tr>
        </thead>
        <tbody>
        {% for jugador in jugadors %}
            <tr>
                <td>{{ jugador.id }}</td>
                <td>{{ jugador.nom }}</td>
                <td>{{ jugador.cognom1 }}</td>
                <td>{{ jugador.cognom2 }}</td>
                <td>{{ jugador.dataNaixement |date}}</td>
                <td>{{ jugador.diagnostic }}</td>
                <td>{{ jugador.nick }}</td>
                <td>{{ jugador.idioma }}</td>
                <td>{{ jugador.actiu }}</td>
                <td>{{ jugador.partida }}</td>
                <td><a href="{{ path('jugador_edit',{'id': jugador.id})}}"><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/edit.png') }}" width="30" height="30"></a>
                    <form action="{{ path('jugador_erase',{'id': jugador.id})}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="image" src="{{ asset('bundles/TriburchBakendJuegosBundle/images/delete.png') }}" width="30" height="30" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>


        <tr>

            <td colspan="10"><a href={{ path('partida_list')}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/return.png') }}" width="50" height="50"></a></td>
            <td><a href={{ path('jugador_new')}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/add.png') }}" width="30" height="30"></a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}