{% extends "@TriburchBackendJuegos/layout.html.twig" %}

{% block title %}{% trans %}__title.list.Partida{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}__title.list.Partida{% endtrans %}</h1>
    <table border="1" style="overflow: auto">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans %}__when.list.Partida{% endtrans %}</th>
            <th>{% trans %}__time.list.Partida{% endtrans %}</th>
            <th>{% trans %}__clics.list.Partida{% endtrans %}</th>
            <th>{% trans %}__success.list.Partida{% endtrans %}</th>
            <th>{% trans %}__fail.list.Partida{% endtrans %}</th>
            <th>{% trans %}__difficulty.list.Partida{% endtrans %}</th>
            <th>{% trans %}__velocity.list.Partida{% endtrans %}</th>
            <th>So</th>
            <th>{% trans %}__Game.list.Partida{% endtrans %}</th>
            <th>{% trans %}__childs.list.Partida{% endtrans %}</th>
            <th>{% trans %}__actions.list.Partida{% endtrans %}</th>

        </tr>
        </thead>
        <tbody>
        {% for partida in partidas %}
            <tr>
                <td>{{ partida.id }}</td>
                <td>{{ partida.quan|date }}</td>
                <td>{{ partida.temps }}</td>
                <td>{{ partida.clicks }}</td>
                <td>{{ partida.encerts }}</td>
                <td>{{ partida.errades }}</td>
                <td>{{ partida.dificultad }}</td>
                <td>{{ partida.velocitat }}</td>
                <td>{{ partida.so }}</td>
                <td>{{ partida.joc }}</td>
                <td><a href={{ path('partida_list_children',{'id': partida.id})}}>{% trans %}__show_childs.list{% endtrans %}</a>
                <td><a href={{ path('partida_edit',{'id': partida.id})}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/edit.png') }}" width="30" height="30"></a>
                    <form action="{{ path('partida_erase',{'id': partida.id})}}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="image" src="{{ asset('bundles/TriburchBakendJuegosBundle/images/delete.png') }}" width="30" height="30" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="11"><a href={{ path('joc_list')}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/return.png') }}" width="50" height="50"></a></td>
            <td><a href={{ path('partida_new')}}><img src="{{ asset('bundles/TriburchBakendJuegosBundle/images/add.png') }}" width="30" height="30"></a>

        </tr>
        </tfoot>
    </table>
{% endblock %}